*{
    margin: 0px !important;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
:root{
    --primary:  #5E3BEE;
    --color:  #1C1E53;
    
}
.btn-purple{
border: 1px solid var(--primary) !important;
color: var(--primary) !important ;
}
.home{
    color: #5E3BEE !important;
}
.color{
    color: #1C1E53 !important;
}
.herobtn{
    background-color: var(--primary) !important;
    color: white !important;
}
.hero{
    background-color: #F5FCFF !important;
}

.skill-card {
    background-color: #f8f9fa; /* Light background */
    border-radius: 8px;
    padding: 25px;
    height: 100%; /* Saare boxes ek barabar honge */
    transition: 0.3s;
}
.skill-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.icon-box {
    width: 60px;
    margin-bottom: 20px;
}