:root{
    --primary:  #5E3BEE;
    --color:  #1C1E53;
    
}
.btn-purple{
border: 1px solid var(--primary) !important;
color: var(--primary) !important ;
}
.home{
    color: #5E3BEE !important;
}
.color{
    color: #1C1E53 !important;
}